
.logincontainer{
  text-align: center;
  margin: 140px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  overflow: hidden;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  overflow: hidden;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
}

.form-signin p{
  text-decoration: underline;
  color: blue;
}
.form-signin p:hover{
  text-decoration: none;
  cursor: context-menu;
}
.newacc, .forgot{
  display: none;
}

.navuser li{
  display: inline;
  font-size: 20px;
}
.asf{
  text-align: center;
  margin: 140px;
	
}
.type{
	
	margin:auto;
	width:100%;
}